@media (min-width: 576px) {
  .card-columns {
      column-count: 2 !important;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3 !important;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4 !important;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 5 !important;
  }
}